<!-- Button trigger modal -->
<div
  class="modal fade"
  id="renameFolderModal-<%= folder.id %>"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Rename Folder</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="renameFolder-<%= folder.id %>"
          action="/renameFolder"
          method="post"
        >
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="<%= folder.name %>"
              required
            />
            <input type="hidden" name="id" value="<%= folder.id %>" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" onclick="submitForm()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  function submitForm() {
    document.getElementById("renameFolder-<%= folder.id %>").submit();
  }
</script>
