<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <% if (user) {%>
      <div>
        <p><%= user.username %>'s Drive</p>
        <button class="button-9" onclick="window.location.href='/log-out';">
          Log Out
        </button>
      </div>
      <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" />
        <input type="submit" value="Upload" class="button-9" />
      </form>
      <!-- Bootstrap Modal -->
      <%- include('./modals/new-folder-modal') %> <% } else { %>
      <div class="login-box">
        <h2>Login</h2>
        <form action="/log-in" method="POST" autocomplete="off">
          <div class="user-box">
            <input id="username" name="username" type="text" required="" />
            <label>Username</label>
          </div>
          <div class="user-box">
            <input id="password" name="password" type="password" required="" />
            <label>Password</label>
          </div>
          <button class="button-9">Log In</button>
        </form>
        <p>Not a member? <a href="/sign-up">Sign Up</a></p>
      </div>
      <%}%>
    </main>
    <%- include('./partials/footer') %>
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
